.card-open__close {
    position: absolute;
    top: -35px;
    right: -35px;
    background:url(../../../images/Close-Icon.svg) no-repeat;
    width: 32px;
    height: 32px;
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}
.card-open__close:hover{
    opacity: 0.8;
}
@media screen and (max-width:424px){
        .card-open__close{
    right: -3px;
    width: 30px;
    height: 30px;
    background:url(../../../images/Close-IconSmalScreen.svg) no-repeat;
    }
}